/* TimeChart.css */
/* Styles for the TimeChart componet */

p{
  margin:2px;
}

.gaugechart-container{
  display: flex;
  justify-content: center;
}

.circle {
    transition: fill 0.1s ease;
}


.circle:hover {
  cursor:pointer;
  stroke:black;
  strike-width:1;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 5px;
    font: 16px sans-serif;
    color: black;
    background-color: rgb(255,255,255,0.9);    
    border-width: 3px;
    border-style: outset;
    border-radius: 10px;
    border-color:#197a7b
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); */
    /* pointer-events: none; */
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}
