.circle {
    transition: fill 0.1s ease;
}

.circle:hover {
    fill:orange;
}

.area {
    stroke: "black";
    stroke-width: 1;
    fill: "#ababab";
    opacity: 0.3;
}

.line {
    stroke: "#ffc107";
    stroke-width: 1;
}

.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
