.circle {
    transition: fill 0.1s ease;
}

.circle:hover {
    fill:orange;
}

.active-area {
    stroke: "black";
    stroke-width: 1;
    fill: "#ababab";
    opacity: 0.3;
}

.pos-line {
    stroke: "#ffc107";
    stroke-width: 1;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 10px;
    font: 16px sans-serif;
    background-color: lightsteelblue;
    border-radius: 0px;
    border-radius: 8px;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); */
    /* pointer-events: none; */
}

.show {
    visibility: visible;
    opacity: 0.8;
    transition: visibility 1s, opacity 1s;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}
