/* styles/main.css
/* Global styles for results_viz.py*/
#MainMenu {visibility: hidden !important;}
footer {visibility: hidden !important;}
.viewerBadge_link__1S137{visibility: hidden !important;}
viewerBadge_container__1QSob{visibility: hidden !important;}
.block-container {padding:20px !important;}

.streamlit-expander{
  border: none !important;
}

.row_heading{
  display: none !important;
}

.css-12w0qpk {
  border-left: 1px solid rgba(38, 39, 48, 0.6);
  padding-left: 15px;
  padding-right: none;
}

.effi0qh0{
  display: none;
}

.e1tzin5v2{
  padding-left: 30px;
  padding-right: 30px;
}

